/*Fonts*/

@font-face {
    font-family: 'suez_oneregular';
    src: url('../fonts/suezone/suezone-regular-webfont.eot');
    src: url('../fonts/suezone/suezone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/suezone/suezone-regular-webfont.woff') format('woff'),
         url('../fonts/suezone/suezone-regular-webfont.ttf') format('truetype'),
         url('../fonts/suezone/suezone-regular-webfont.svg#suez_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin/cabin-regular-webfont.eot');
    src: url('../fonts/cabin/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Mobile CSS*/

body {
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	margin: 0 auto;
	background-color: #262824;
	color: #fff;
	font-family: 'cabinregular', sans-serif;
}

a {
	color: #fff;
}

a:hover {
	color: #26403b;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(67, 113, 105, 0.8);
	position: fixed;
	top: 0;
	font-weight: bold;
}

nav img, nav i {
	padding: 10px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav ul {
	display: none;
}

nav li {
	font-size: 20px;
	display: inline;
	margin: 0px 15px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 520px;
	background: #000 url('../images/riverbar.jpg') fixed;
	background-size: cover;
}

h1, h3, h4 {
	font-family: 'suez_oneregular', serif;
}

h1 {
	font-size: 3.6rem;
	margin-top: 30px;
}

h2 {
	font-size: 1.8rem;
	color: #C0B5B3;
}

h3 {
	font-size: 2rem;
	margin: 15px 0px;
	line-height: 1.2;
}

h4 {
	font-size: 1.4rem;
	padding: 10px 0px;
}

input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: center;
}

input:focus {
	transform: scale(1.05);
}

select {
	border: 0;
	font-size: 16px;
}

label {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
}

button {
	background-color: #A6594E;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	padding: 15px;
	margin: 20px 0px 40px 0px;
	transition: all 0.6s ease 0.1s;
}

button:hover {
	background-color: #663630;
	transform: scale(1.2);
}

p {
	padding: 25px 20px;
	max-width: 800px;
	margin: 0 auto;
}

iframe {
	margin-top: 20px;
}

footer {
	min-height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #437169;
}

footer li {
	display: inline;
	margin: 0px 5px;
}

.section-padding {
	padding: 20px;
}

.logo {
	width: 50px;
	height: 50px;
}

.photo-grid {
	display: flex;
	flex-direction: column;
	margin: 30px 0px;
}

.photo-grid img {
	margin: 0 auto;
	width: 100%;
}

.two-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form {
	padding: 30px 0px;
	margin: 30px 0px;
	width: 100%;
	border: solid #C0B5B3 2px;
}

.form h3 {
	margin-bottom: 30px;
}

.form-radio input {
	margin: 11px;
}

.form-radio label {
	display: inline;
}

.mobile-menu, .social-buttons {
	font-size: 50px;
}

.join-events, .create-events {
  display: none;
}

.join-events p, .create-events p {
	padding: 20px 10px;
}

.terms {
	padding-top: 10px;
}

.terms-alert {
	display: none;
	color: tomato;
	padding: 0;
}

@media all and (min-width: 600px) {

	nav ul {
		display: block;
	}

	h1 {
		font-size: 4.5rem;
	}

	header h2 {
		font-size: 2.4rem;
	}

	.mobile-menu {
		display: none;
	}

	.photo-grid {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.photo-grid div {
		width: 50%;
	}

	.page-container {
		max-width: 1100px;
		margin: 0 auto;
	}

}

@media all and (min-width: 750px) {

	.two-column {
		flex-direction: row;
		justify-content: center;
	}

	.form {
		margin: 13px 0px 30px 40px;
		width: 65%;
		min-width: 370px;
	}

}